<div class="flex-1 min-w-[200px] max-w-[600px] space-y-3 text-sm">
    <!-- タイトル -->
    <div>
      <%= form.label :title, class: "block text-sm text-gray-700" %>
      <%= form.text_field :title, class: "w-full border border-gray-300 rounded-md px-3 py-2 shadow-sm focus:outline-blue-500" %>
    </div>

    <!-- メモ -->
    <div>
      <%= form.label :memo, class: "block text-sm text-gray-700" %>
      <%= form.text_area :memo, rows: 2, class: "w-full border border-gray-300 rounded-md px-3 py-2 shadow-sm focus:outline-blue-500" %>
    </div>

    <!-- 見積もり時間 -->
    <div>
      <%= form.label :estimated_time, "見積もり時間（分）", class: "block text-sm text-gray-700" %>
      <%= form.number_field :estimated_time, class: "w-32 border border-gray-300 rounded-md px-3 py-2 shadow-sm focus:outline-blue-500" %>
    </div>
  </div>
<%
=begin
%>
  <div class="my-5">
    <%= form.label :is_done %>
    <%= form.select :is_done, Task.is_dones.keys, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:is_done].none?, "border-red-400 focus:outline-red-600": form.object.errors[:is_done].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :recurrence_interval %>
    <%= form.hidden_field :recurrence_interval, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:recurrence_interval].none?, "border-red-400 focus:outline-red-600": form.object.errors[:recurrence_interval].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :priority_level %>
    <%= form.hidden_field :priority_level, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:priority_level].none?, "border-red-400 focus:outline-red-600": form.object.errors[:priority_level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :parent_task_id %>
    <%= form.hidden_field :parent_task_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:parent_task_id].none?, "border-red-400 focus:outline-red-600": form.object.errors[:parent_task_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :position %>
    <%= form.hidden_field :position, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:position].none?, "border-red-400 focus:outline-red-600": form.object.errors[:position].any?}] %>
  </div>
<%
=end
%>