<%= form_with(model: task, class: "contents") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul class="list-disc ml-6">
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:title].none?, "border-red-400 focus:outline-red-600": task.errors[:title].any?}] %>
  </div>
<% 
=begin
%>
  <div class="my-5">
    <%= form.label :memo %>
    <%= form.text_area :memo, rows: 4, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:memo].none?, "border-red-400 focus:outline-red-600": task.errors[:memo].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :estimated_time %>
    <%= form.number_field :estimated_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:estimated_time].none?, "border-red-400 focus:outline-red-600": task.errors[:estimated_time].any?}] %>
  </div>
<% 
=end
%>
  <div class="my-5">
    <%= form.label :is_done %>
    <%= form.select :is_done, Task.is_dones.keys, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:is_done].none?, "border-red-400 focus:outline-red-600": task.errors[:is_done].any?}] %>
  </div>
<% 
=begin
%>
  <div class="my-5">
    <%= form.label :recurrence_interval %>
    <%= form.text_field :recurrence_interval, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:recurrence_interval].none?, "border-red-400 focus:outline-red-600": task.errors[:recurrence_interval].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :priority_level %>
    <%= form.number_field :priority_level, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:priority_level].none?, "border-red-400 focus:outline-red-600": task.errors[:priority_level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :parent_task_id %>
    <%= form.number_field :parent_task_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:parent_task_id].none?, "border-red-400 focus:outline-red-600": task.errors[:parent_task_id].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :position %>
    <%= form.number_field :position, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task.errors[:position].none?, "border-red-400 focus:outline-red-600": task.errors[:position].any?}] %>
  </div>

<% 
=end
%>
  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
