<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.title") %></strong>
    <%= task.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.memo") %></strong>
    <%= task.memo %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.estimated_time") %>:</strong>
    <%= task.estimated_time.present? ? "#{task.estimated_time}分" : "未設定" %>
  </p>
  <%= form_with model: task, url: update_status_task_path(task), method: :patch, local: true do |f| %>
    <div class="my-5">
      <%= button_to "完了にする", update_status_task_path(task), method: :patch, params: { task: { is_done: "closed" } },
        class: "rounded-md px-3 py-2 bg-green-500 text-white hover:bg-green-600" %>
      <%= link_to "分割", split_task_path(task), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>

    </div>
  <% end %>
<%
=begin
%>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.recurrence_interval") %>:</strong>
    <%= task.recurrence_interval %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.priority_level") %>:</strong>
    <%= task.priority_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.user") %>:</strong>
    <%= task.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.parent_task") %>:</strong>
    <%= task.parent_task_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.position") %>:</strong>
    <%= task.position %>
  </p>
<%
=end
%>
</div>
