<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.title") %></strong>
    <%= task.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.memo") %></strong>
    <%= task.memo %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.estimated_time") %>:</strong>
    <%= task.estimated_time %>
  </p>
  <%= form_with model: task, url: update_status_task_path(task), method: :patch, local: true do |f| %>
    <div class="my-5">
      <%= f.select :is_done, Task.is_dones.keys, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": f.object.errors[:is_done].none?, "border-red-400 focus:outline-red-600": f.object.errors[:is_done].any?}] %>
      <%= f.submit "変更" %>
    </div>
  <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.recurrence_interval") %>:</strong>
    <%= task.recurrence_interval %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.priority_level") %>:</strong>
    <%= task.priority_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.user") %>:</strong>
    <%= task.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.parent_task") %>:</strong>
    <%= task.parent_task_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t("activerecord.attributes.task.position") %>:</strong>
    <%= task.position %>
  </p>
</div>
