<% content_for :title, "Tasks" %>

<div>

  <%# 通知メッセージ %>
  <% if notice.present? %>
    <p id="notice" class="mb-5 inline-block rounded-md bg-green-50 px-3 py-2 text-green-500 font-medium">
      <%= notice %>
    </p>
  <% end %>

  <%# タイトルと操作ボタン %>
  <div class="">
    <div class="">
      <%= link_to t("views.tasks.new_task"), new_task_path, class: "btn btn-primary" %>
      <%= link_to t("devise.shared.links.edit_account"), edit_user_registration_path, class: "btn btn-neutral" %>
      <%= button_to t("devise.shared.links.logout"), destroy_user_session_path, method: :delete, class: "btn btn-error" %>
    </div>
  </div>

  <%# タスクリスト %>
  <div id="tasks" class="flex flex-col gap-4 mt-6 mb-10 mx-auto max-w-3xl">
    <% if @tasks.any? %>
      <% @tasks.each do |task| %>
        <%= render partial: "tasks/components/task_row", locals: { task: task } %>
      <% end %>
    <% else %>
      <p class="my-10 text-center text-gray-500">No tasks found.</p>
    <% end %>
  </div>
</div>
