<% content_for :title, "Split task" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Split task</h1>

  <%= @parent_task.title %>
  <%= form_with url: split_create_task_path(@parent_task), method: :post, scope: :tasks do |form| %>
    <% @child_tasks.each_with_index do |task, i| %>
      <%= form.fields_for "tasks[]", task do |task_form| %>
        <%= render partial: "fields", locals: { form: task_form } %>
      <% end %>
    <% end %>
    <div class="my-5">
      <%= form.submit "分割タスクを登録", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  <%= link_to t("views.tasks.back_to_tasks"), tasks_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>